.BlindBoxTitle{
    margin-top:100px;
    color: #FFFFFF;
    text-align:center;
    font-weight: 700;
    font-size: 24px;
}
.BlindBoxInfo{
    margin-top: 70px;
    display: flex;
    align-items: center;
    >div{
        margin: 0 29px;
    }
    @media (max-width:426px) {
        >div{
            margin: 0;
        }
    }
    .Info{
        flex: 1;
        .intr{
            color: #FFFFFF;
            font-weight: 700;
            font-size: 16px;
        }
        .intrContent{
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            margin-top: 10px;
        }
        .BuyRow{
            display: flex;
            align-items: center;
            margin-top: 40px;
            .buyInfo{
                width:125px;
                .BuyName{
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .price{
                    color: #FFFFFF;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            .BuyBtn{
                border-radius: 6px;
                padding: 8px 16px;
                color: #FFFFFF;
                letter-spacing: 0.08em;
                font-weight: 400;
                font-size: 14px;
                margin-left: 58px;
            }
        }
        @media (max-width:426px) {
            .BuyRow{
                justify-content:space-between;
            }
        }
    }
    .Img{
        flex: 1;
        img{
            max-width:100%
        }
    }
}
@media (max-width:1023px) {
    .BlindBoxInfo{
        flex-direction: column-reverse;
    }
    .BlindBoxTitle{
        margin-top:50px; 
    }
}