.CardItemLinearBorder{
    min-height: 347px;
    border-radius: 19px;
    padding:1px;
    background:linear-gradient(180deg, #4EADF5 0%, #DB2DCF 100%);
}
.CardItem{
    background: #1F2045;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    min-height: 347px;
    border-radius: 19px;
    padding:15px;
    .CardImg{
        background: #171833;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        width: 240px;
        height: 240px;
    }
}