@font-face {
  font-family: "PingFang SC";
  src: url("./assets/font/PINGFANG.TTF");
}
body {
  background: #161731 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body,div,span,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  font-weight:normal;
  vertical-align:baseline;
  font-size: 12px;
  user-select: none;
  font-family:PingFang SC,-apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,Segoe UI,Arial,Roboto,'PingFang SC',miui,'Hiragino Sans GB','Microsoft Yahei',sans-serif  !important;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block;
}
ol,ul,li {
  list-style:none;
}
blockquote,q {
  quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
th,td {
  vertical-align:middle;
}
/* custom */
a {
  outline:none;
  color:#16418a;
  text-decoration:none;
  -webkit-backface-visibility:hidden;
}
a:focus {
  outline:none;
}
input:focus,select:focus,textarea:focus {
  outline:-webkit-focus-ring-color auto 0;
}
.cbtn{
  cursor: pointer;
}
.ant-layout{
  background: transparent !important;
}
.MainContent{
  height: calc(100vh - 64px);
  overflow-y: auto;
}
.menuSider{
  position: fixed !important;
  height: 100%;
}
.ant-menu-title-content{
  font-size: 20px;
}
.layoutMain{
  position: relative
}
.ant-layout-header{
  background: transparent !important;
  padding: 0 !important;
}
.MenuMantle{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
    z-index: 10;
}
/* 版心 */
.Edition-Center{
  max-width: 1200px;
  width: 100%;
  margin:auto;
}
/* flex 居中 */
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex1{
  flex: 1;
}
/* 鼠标手势 */
.pointer{
  cursor:pointer;
}
/* 主题渐变色 */
.linear-gradient{
  background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
}
.invalid{
  background: rgba(255, 255, 255, 0.2);
}